* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	padding: 10px;
	background-color: black;
	color: white;
	text-rendering: optimizeLegibility;
}

.header {
	text-align: center;
}

.leftpart {
    float: left;
    width: 75%;
}

div {
	display: block;
}

h3, a {
	color: red;
}

p {
	font-size: 25px;
}

h2, h1 {
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

h5 {
	display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.card {
	color: #000;
	background-color: #aaa;
	padding: 20px;
	margin-top: 20px;
}
