.header {
  padding: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: absolute;
  left: 485px;
  height: 50px;
  margin: 0 auto;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.animated-background {
  background: linear-gradient(
    to right, #833ab4,
    #fd1d1d, #fcb045);
  background-size: 400%, 400%;
  animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}